@charset "utf-8";
/* ===============================
Top Page
=============================== */

/* ===============================
Header
================================*/
.header {
  display: flex;
  height: 93px;
  align-items: center;
  justify-content: space-between;

  max-width: 1320px; /*vertically centered*/
  margin: 0 auto;

  padding: 0 40px;
  background-color: white;
}
.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.globe-icon {
  height: 27px;
  width: 27px;
  margin-right: 8px;
}
.company-name {
  font-family: "Noto Serif";
  font-size: 20px;
  font-weight: bold;
}
.header-right {
  display: flex;
  gap: 20px;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu li {
  font-family: "Noto Serif";
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}
.menu li img {
  display: none;
}
.tablet-menu-button {
  display: none;
}
.tablet-menu-button:hover {
  cursor: pointer;
}
.tablet-menu-button span {
  height: 3px;
  width: 100%;
  background-color: black;
}

/*=======================
Background
=======================*/
.back-img {
  background-image: url("../images/beach_background.png");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 93px); /* Adjust for header height */
  object-fit: cover;
}

/*======================
body
========================*/

body {
  font-family: "Noto Sans";
}
.container {
  max-width: 768px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
.body-title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 500;
  margin-bottom: 35px;
}
.body-paragraph {
  font-size: 22px;
  color: #ffffff;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;

  line-height: 33px;
  margin-bottom: 39px;
}

/*==========================
Option-bar
============================*/
.option-bar {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  border-radius: 10px;

  background-color: #eaeaea;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 60%, #4ebcd8 100%);
}
.option-bar a {
  cursor: pointer;
}
.option-bar * {
  font-size: 20px;
  border: none;
  background-color: transparent;
}
.location-button {
  flex-direction: column;
  text-align: center;
}
.bottom-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  height: 13px;
  width: 13px;
  margin-right: 7px;
}
.vertical-bar {
  height: 55px;
  width: 1px;
  background-color: #b4c6ee;
}
.explore-button {
  color: white;
  background-color: #4468e2;
  font-family: "Noto Serif";
  font-size: 21px;
  font-weight: bold;
  border-style: none;
  border-radius: 10px;
  padding: 17px 13px 17px 25px;
  cursor: pointer;
}
.tablet-explore-button-div {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.tablet-explore-button {
  display: none;
  background-color: #4468e2;
  color: white;
  border-style: none;
  border-radius: 10px;
  font-family: "Noto Serif";
  font-size: 21px;
  font-weight: bold;
  height: 70px;
  width: 300px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-text {
  font-size: 16px;
  opacity: 0.8;
}
.add-date-text {
  font-size: 16px;
  opacity: 0.8;
}

/*======================
Tablet-view-header
======================*/
.exit-div {
  height: 118px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;

  padding-top: 24.5px;
  padding-right: 30.5px;
  z-index: 1;
}
.exit-button {
  position: relative;
}

.exit-stick-1 {
  position: absolute;
  right: 28px;
  top: 28px;
}
.exit-stick-2 {
  position: absolute;
  right: 28px;
  top: 28px;
}

/*======================
Tablet-view-body
======================*/
.tablet-body {
  margin-top: 118px;
  display: flex;
  flex-direction: column;
}
.tablet-body a {
  font-family: "Noto Serif";
  font-size: 36px;
  font-weight: 600;
  border: none;

  display: flex;
  justify-content: space-between;

  padding: 27px 40.4px 66px 36px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    height: 77px;
  }
  .globe-icon {
    height: 27px;
    width: 27px;
  }

  .menu {
    display: none;
  }
  .tablet-menu-button {
    display: flex;
    height: 20px;
    width: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }

  .container {
    top: 20%;
  }
  .body-title {
    font-size: 50px;
  }
  .body-paragraph {
    font-size: 22px;
    max-width: 610px;
    padding: 0 22px;
  }
  .option-bar {
    padding: 18px 83px 20px 24px;
    max-width: 654px;
    margin: 0 auto;
    flex-direction: column;
    max-width: 350px;
    padding: 0;
  }
  .explore-button {
    display: none;
  }
  .tablet-explore-button {
    display: flex;
  }

  .check-in-button,
  .check-out-button {
    display: flex;
    flex-direction: column;
  }
  .option-bar button {
    padding: 10px;
  }
  .vertical-bar {
    height: 1px;
    width: 90%;
    margin: auto;
  }

  .active .first-bar {
    transform: translate(0, 3px) rotate(45deg);
    transition: transform 0.2s ease;
  }
  .active .second-bar {
    display: none;
  }
  .active .third-bar {
    transform: translate(0, -3px) rotate(-45deg);
    transition: transform 0.2s ease;
  }
  .hidden {
    display: none;
  }
  .show {
    display: flex;

    
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    
    opacity: 1;
  }
  .show li {
    display: flex;
    justify-content: space-between;
    padding: 20px 36px;
    width: 100%;
    font-family: "Noto Sans JP";
    opacity: 1;
  }
  .show li img {
    display: unset;
  }
}
